@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body
{
    font-family: sans-serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6em;
}
.header{
    background: #333;
    color: #fff;
    padding: 2rem 0;
}
.header a {
    color: #fff;
    text-decoration: none;
}
.logo-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo1 {
    letter-spacing: 20px;
    font-size: 1.4em;
}
.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation ul li{
    display: inline-block;
}
.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}
.navigation ul li a:hover{
    background: chocolate;
}